footer {
  background-color: $green_flash_color;
  height: 60px;
  position: relative;
  .arbre1 {
    width: 80px;
    position: absolute;
    bottom: 60px;
    left: 0px;
    transform: scaleX(-1);
  }
  .arbre2 {
    width: 100px;
    position: absolute;
    bottom: 52px;
    left: 80px;
  }
  .arbre3 {
    width: 80px;
    position: absolute;
    bottom: 58px;
    left: 179px;
  }
  .arbre4 {
    width: 52px;
    position: absolute;
    bottom: 53px;
    left: 254px;
  }

  .arbre5 {
    width: 58px;
    position: absolute;
    bottom: 52px;
    left: 302px;
  }
  .arbre6 {
    width: 59px;
    position: absolute;
    bottom: 52px;
    left: 354px;
    transform: scaleX(-1);
  }
  .arbre7 {
    width: 53px;
    position: absolute;
    bottom: 52px;
    left: 407px;
  }
  .arbre8 {
    width: 114px;
    position: absolute;
    bottom: 50px;
    left: 457px;
    transform: scaleX(-1);
  }
  .arbre9 {
    width: 130px;
    position: absolute;
    bottom: 46px;
    left: 571px;
  }
  .arbre10 {
    width: 59px;
    position: absolute;
    bottom: 49px;
    left: 676px;
    transform: scaleX(-1);
  }
  .arbre11 {
    width: 56px;
    position: absolute;
    bottom: 48px;
    left: 728px;
  }
  .arbre12 {
    width: 48px;
    position: absolute;
    bottom: 50px;
    left: 781px;
    transform: scaleX(-1);
  }
  .arbre13 {
    width: 71px;
    position: absolute;
    bottom: 54px;
    left: 800px;
    transform: scaleX(-1);
  }
  .arbre14 {
    width: 36px;
    position: absolute;
    bottom: 54px;
    left: 869px;
    transform: scaleX(-1);
  }
  .arbre15 {
    width: 33px;
    position: absolute;
    bottom: 54px;
    left: 903px;
    transform: scaleX(-1);
  }
  .arbre16 {
    width: 35px;
    position: absolute;
    bottom: 54px;
    left: 934px;
    transform: scaleX(-1);
  }
  .arbre17 {
    width: 63px;
    position: absolute;
    bottom: 46px;
    left: 964px;
  }
  .arbre18 {
    width: 55px;
    position: absolute;
    bottom: 48px;
    left: 1027px;
    transform: scaleX(-1);
  }
  .arbre19 {
    width: 47px;
    position: absolute;
    bottom: 54px;
    left: 1179px;
    transform: scaleX(-1);
  }
  .arbre20 {
    width: 48px;
    position: absolute;
    bottom: 52px;
    left: 1223px;
  }
  .arbre21 {
    width: 50px;
    position: absolute;
    bottom: 51px;
    left: 1268px;
    transform: scaleX(-1);
  }
  .arbre22 {
    width: 50px;
    position: absolute;
    bottom: 57px;
    left: 1232px;
    transform: scaleX(-1);
  }
  .arbre23 {
    width: 124px;
    position: absolute;
    bottom: 46px;
    left: 1303px;
  }
  .arbre24 {
    width: 104px;
    position: absolute;
    bottom: 46px;
    left: 1081px;
  }

  .icon-facebook {
    width: 44px;
    position: absolute;
    bottom: 12px;
    right: 68px;
    transition: 300ms ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
  .icon-tel {
    width: 65px;
    position: absolute;
    bottom: -1px;
    right: 113px;
    filter: invert(1);
    transition: 300ms ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
  .icon-instagram {
    width: 54px;
    position: absolute;
    bottom: 4px;
    right: 12px;
    filter: invert(1);
    transition: 300ms ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
}
