/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */


// GALLERY

.gallery {
  position: relative;

  .section-border {
    &::after {
      background-image: url(../images/backgrounds/background-sapin.svg);
      ;
    }
  }


  &::after {
    content: "galerie";
    position: absolute;
    top: 50%;
    left: 37px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.3em;
    color: $green_flash_color;
    padding: 20px 0;
    margin-top: -100px;
  }

  .section-border,
  .section-border>.container-fluid {
    overflow-x: scroll;
  }

  .all-items-galery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

    .item-galery {
      overflow: hidden;
      width: 185px;
      height: 144px;
      padding: 10px;

      img {
        transition: 600ms;
        height: 100%;
        width: 100%;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}



/***
************Scroll bar gallery
***/


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 15px;
}

::-webkit-scrollbar {
  height: 0px;
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#508c70), to(#97c4b0));
}