/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */

// HEADER
$angle: 100px;
$marron:#876c5b;
$green_flash_color: #508c70;
$dark: #333333;

.line {
  height: 3px;
  width: 100px;
  background: $marron;
  border-radius: 50%;
}

button {
  position: absolute;
  font-family: "Cantora One";
  letter-spacing: 1px;
  right: 10px;
  bottom: -10px;
  background-color: $marron;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  padding: 3px 5px;
  border-radius: 2px;
  box-shadow: -1px 1px 6px rgba(black, 0.25);
  display: block;
  transition: box-shadow 0.25s ease, transform 0.25s ease, background 0.25s ease;
  margin-top: 10px;
  font-weight: 600;

  &:hover {
    background-color: darken($marron, 5%);
    box-shadow: -2px 2px 8px rgba(black, 0.5);
    transform: translate(2px, -2px);
  }

  &:focus {
    outline: none;
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(110vh + #{$angle} + 25px);
  width: 100%;
  background-image: url("../images/background-header.jpg");
  background-size: 120% auto;
  background-position-y: 50%;
  background-position-x: 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background 0.15s ease-in-out;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - #{$angle}), 50% 100%, 0% calc(100% - #{$angle}));

  .header-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    .header-logo {
      text-align: center;
      z-index: 1;

      img {
        height: 170px;
      }
    }

    .header-subtitle {
      h1 {
        letter-spacing: 2px;
        font-family: "Cantora One";
        text-transform: uppercase;
        color: #fef6f3;
        text-align: center;
        font-size: 35px;
      }

      h2 {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 23px;
        font-family: "Cantora One";
        color: #fff7f5;
      }
    }

    .header-icons {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .icon-wrapper {
        box-shadow: -1px 1px 5px rgba(#111, 0.1);
        color: #111;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: rgba(white, 0.5);
        cursor: pointer;
        margin: 0 5px;
        transition: background 0.5s ease, color 0.5s ease;

        &:hover {
          background-color: rgba(white, 1);
          color: $green-flash-color;
        }

        &:last-child {
          i {
            font-size: 16px;
          }
        }
      }

      i {
        font-size: 14px;
      }
    }

    .scroll-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 25px;
      // background-image: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, .45) 100%, white);

      .mouse {
        cursor: pointer;
        height: 46px;
        width: 26px;
        border-radius: 20px;
        border: 2px solid rgba(white, 0.25);
        transition: border 0.5s ease, opacity 0.5s ease;
        position: relative;
        opacity: 1;

        &:hover {
          border-color: rgba(white, 1);

          .cursor {
            background-color: rgba(white, 1);
          }
        }

        &.hide {
          opacity: 0;
        }

        .cursor {
          animation: cursor 3s ease-in-out infinite;
          height: 8px;
          width: 3px;
          border-radius: 50%;
          background-color: rgba(white, 0.25);
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          margin: 0 auto;
          transition: background 0.5s ease;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .header {
    background-size: cover;
    background-position-y: 100%;

    .header-wrapper {
      .header-logo {
        margin-top: 20vh;
      }
    }
  }

  .header .header-wrapper .scroll-btn .mouse {
    border: 2px solid rgba(255, 255, 255, 1);
  }

  .header .header-wrapper .scroll-btn .mouse .cursor {
    background-color: rgba(255, 255, 255, 1);
  }
}

@media only screen and (max-width: 360px) {
  p {
    font-size: 12px;
  }

  .header .header-wrapper .header-logo {
    margin-top: 10vh;
  }

  .header .header-wrapper .header-logo img {
    height: 90px;
  }

  .header .header-wrapper .header-subtitle h1 {
    font-size: 23px;
  }

  .header .header-wrapper .header-subtitle h2 {
    font-size: 12px;
  }
}