.navbar {
  font-family: "Amatic SC", cursive;
  background-color: rgba(255, 255, 255, 0);
  transition: background 0.5s ease, box-shadow 0.5s ease;
  z-index: 3000;
  &.active {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
    .navbar-brand {
      opacity: 1;
    }
  }
  > .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand {
    opacity: 0;
    transition: opacity 0.5s ease;
    img {
      height: 50px;
    }
  }
  .navbar-toggler {
  }
  .nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
    &:last-child {
      padding-right: 0;
      .nav-link {
        padding-right: 0;
      }
    }
    .nav-link {
      color: #111;
      font-size: 1.5rem;
    }
  }
}
