/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */

// STORE

.store {
    margin-bottom: 100px;
    position: relative;

    .section-border {
        &::after {
            background-image: url(../images/backgrounds/background-sapin.svg);
            background-position: 50% 0%;
        }
    }

    &::after {
        content: "atelier";
        position: absolute;
        top: 50%;
        left: 37px;
        margin-top: -97px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1.3em;
        color: $green_flash_color;
        padding: 10px 0;
    }

    .wrapper-cycle {
        height: 100%;
        width: 100%;

        .text-wrapper-cycle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: auto;
        }
    }

    .logo-cycle {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        img {
            height: 100%;
            width: auto;
            // animation: rotation 150s infinite linear;
        }
    }
}


// Carousel

.first-carousel {
    height: 100%;

    .owl-stage-outer {
        height: 100%;

        .owl-stage {
            height: 100%;
            display: flex;
            align-items: center !important;
            justify-content: center !important;

            .owl-item>.item {
                cursor: pointer;
                margin: 6% 8%;
                transition: margin 0.6s ease;
            }

            .owl-item.center>.item {
                cursor: auto;
                margin: 0;
            }

            .owl-item:not(.center)>div:hover {
                opacity: 0.75;
            }
        }
    }
}


/***
**********Animations
***/


@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}