/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */


// Colors

$green_flash_color: #508c70;
$dark: #333333;



// Animations 

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 400ms;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}