@import "./shared";
@import "./partials/navbar";
@import "./partials/carousels";
@import "./partials/footer";

body {
  background-color: #eee;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("../imgs/jay-mantri-TFyi0QOx08c-unsplash.jpg");
  background-size: 120% auto;
  background-position-y: 20%;
  background-position-x: 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  transition: background 0.15s ease-in-out;
}
main {
  margin-top: -180px;
  z-index: 2000;
  position: relative;
}
section {
  position: relative;
  &.white {
    background-color: #fff;
  }
}

p {
  a {
    font-weight: 700;
  }
}
.introduction {
  background: none;
  color: rgba(#000, 0.75);
  margin-top: -100px;
  padding-bottom: 100px;
  > .container {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 70px 50px;
  }
  h2 {
    color: $green_flash_color;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Amatic SC", cursive;
    letter-spacing: 5px;
  }
  .logo-white {
    padding-bottom: 40px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    img {
      height: 170px;
    }
  }

  .links {
    font-family: "Amatic SC", cursive;
    padding-top: 1em;
    display: flex;
    justify-content: space-around;

    a {
      display: inline-block;
      text-decoration: none;
      color: $brown_light_color;
      font-weight: 600;
      font-size: 1.3em;
      letter-spacing: 0.6px;
      cursor: pointer;
      &:hover {
        color: $brown_light_color;
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        margin-top: 3px;
        height: 3px;
        background: $brown_light_color;
        transition: width 0.5s, background 0.5s;
      }

      &:hover::after {
        width: 100%;
        background: $brown_light_color;
        transition: width 0.5s;
      }
    }
  }
}

.wood {
  background-image: url("../imgs/wood.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    right: 0;
    left: 0;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-image: url("../imgs/black-twill");
    top: 0;
    right: 0;
    left: 0;
  }
}

.magasin {
  margin-bottom: 100px;
  position: relative;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;

    .row {
      > [class*="col"] {
        &:first-child {
          background-color: rgba(11, 90, 50, 0.6);
          padding-right: 0;
        }
        &:last-child {
          padding-left: 0;
          background-image: url("../imgs/mihai-lazar-8TDltliWdJY-unsplash.jpg");
          background-size: cover;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(black, 0.35);
          }
        }
      }
    }
  }

  .text-wrapper {
    padding: 100px 75px;
    color: #fff;
    font-weight: 600;

    h1 {
      font-family: "Amatic SC", cursive;
      font-weight: 700;
      margin-bottom: 1.5rem;
      letter-spacing: 5px;
      line-height: 1.2;
    }
    p {
      font-weight: 400;
    }
    a {
      font-weight: 700;
      color: #fff;
    }

    .link-svg {
      font-family: "Amatic SC", cursive;
      display: flex;
      align-items: center;

      a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 1.7em;
        font-weight: 800;
        letter-spacing: 0.6px;

        &::after {
          content: "";
          display: block;
          width: 0;
          margin-top: 3px;
          height: 3px;
          background: #fff;
          transition: width 0.5s, background 0.5s;
        }

        &:hover {
          &::after {
            width: 100%;
            background: #fff;
            transition: width 0.5s;
          }
        }
      }

      img {
        width: 30px;
        margin-left: 50px;
        margin-bottom: 10px;
      }
    }
  }
}

.img-magasin {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  img.cycle-logo {
    width: auto;
    height: 80%;
    animation: rotation 200s infinite linear;
    filter: invert(1);
    // filter: drop-shadow(1px 1px 1px grey);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

body {
  // background: #ece9e6; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #ffffff, #ece9e6); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #ffffff, #ece9e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: #eee;
  // font-family: "Amatic SC", cursive;
  font-size: 1em;
  width: 100%;
  height: 100%;
  overflow-inline: hidden;

  h3,
  h4 {
    color: $brown_light_color;
    font-weight: 600;
    // background-color: white;
  }
}
