@charset "UTF-8";
/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: "normal";
  src: url("../font/Open_Sans/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: "normal";
  src: url("../font/Roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: "Oswald";
  font-weight: 700;
  font-style: "normal";
  src: url("../font/Oswald/Oswald-Bold.ttf"); }

@font-face {
  font-family: "Oswald";
  font-weight: 300;
  font-style: "normal";
  src: url("../font/Oswald/Oswald-Light.ttf"); }

@font-face {
  font-family: 'Cantora One';
  font-style: "normal";
  src: url("../font/CantoraOne-Regular.ttf"); }

/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */
.line {
  height: 3px;
  width: 100px;
  background: #876c5b;
  border-radius: 50%; }

button {
  position: absolute;
  font-family: "Cantora One";
  letter-spacing: 1px;
  right: 10px;
  bottom: -10px;
  background-color: #876c5b;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  padding: 3px 5px;
  border-radius: 2px;
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.25);
  display: block;
  transition: box-shadow 0.25s ease, transform 0.25s ease, background 0.25s ease;
  margin-top: 10px;
  font-weight: 600; }
  button:hover {
    background-color: #786051;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.5);
    transform: translate(2px, -2px); }
  button:focus {
    outline: none; }

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(110vh + 100px + 25px);
  width: 100%;
  background-image: url("../images/background-header.jpg");
  background-size: 120% auto;
  background-position-y: 50%;
  background-position-x: 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background 0.15s ease-in-out;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 100px), 50% 100%, 0% calc(100% - 100px)); }
  .header .header-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; }
    .header .header-wrapper .header-logo {
      text-align: center;
      z-index: 1; }
      .header .header-wrapper .header-logo img {
        height: 170px; }
    .header .header-wrapper .header-subtitle h1 {
      letter-spacing: 2px;
      font-family: "Cantora One";
      text-transform: uppercase;
      color: #fef6f3;
      text-align: center;
      font-size: 35px; }
    .header .header-wrapper .header-subtitle h2 {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 23px;
      font-family: "Cantora One";
      color: #fff7f5; }
    .header .header-wrapper .header-icons {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .header .header-wrapper .header-icons .icon-wrapper {
        box-shadow: -1px 1px 5px rgba(17, 17, 17, 0.1);
        color: #111;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        margin: 0 5px;
        transition: background 0.5s ease, color 0.5s ease; }
        .header .header-wrapper .header-icons .icon-wrapper:hover {
          background-color: white;
          color: #508c70; }
        .header .header-wrapper .header-icons .icon-wrapper:last-child i {
          font-size: 16px; }
      .header .header-wrapper .header-icons i {
        font-size: 14px; }
    .header .header-wrapper .scroll-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 25px; }
      .header .header-wrapper .scroll-btn .mouse {
        cursor: pointer;
        height: 46px;
        width: 26px;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.25);
        transition: border 0.5s ease, opacity 0.5s ease;
        position: relative;
        opacity: 1; }
        .header .header-wrapper .scroll-btn .mouse:hover {
          border-color: white; }
          .header .header-wrapper .scroll-btn .mouse:hover .cursor {
            background-color: white; }
        .header .header-wrapper .scroll-btn .mouse.hide {
          opacity: 0; }
        .header .header-wrapper .scroll-btn .mouse .cursor {
          animation: cursor 3s ease-in-out infinite;
          height: 8px;
          width: 3px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.25);
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          margin: 0 auto;
          transition: background 0.5s ease; }

@media only screen and (max-width: 768px) {
  .header {
    background-size: cover;
    background-position-y: 100%; }
    .header .header-wrapper .header-logo {
      margin-top: 20vh; }
  .header .header-wrapper .scroll-btn .mouse {
    border: 2px solid white; }
  .header .header-wrapper .scroll-btn .mouse .cursor {
    background-color: white; } }

@media only screen and (max-width: 414px) {
  p {
    font-size: 12px; }
  .header .header-wrapper .header-logo {
    margin-top: 10vh; }
  .header .header-wrapper .header-logo img {
    height: 90px; }
  .header .header-wrapper .header-subtitle h1 {
    font-size: 26px; }
  .header .header-wrapper .header-subtitle h2 {
    font-size: 14px; } }

@media only screen and (max-width: 360px) {
  p {
    font-size: 12px; }
  .header .header-wrapper .header-logo {
    margin-top: 10vh; }
  .header .header-wrapper .header-logo img {
    height: 90px; }
  .header .header-wrapper .header-subtitle h1 {
    font-size: 23px; }
  .header .header-wrapper .header-subtitle h2 {
    font-size: 12px; } }

@media only screen and (max-width: 340px) {
  .header .header-wrapper .header-subtitle h2 {
    font-size: 11px; } }

/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */
.about {
  clip-path: polygon(0% 0%, 50% 100px, 100% 0%, 100% calc(100% - 100px), 50% 100%, 0% calc(100% - 100px));
  position: relative;
  padding-bottom: 125px;
  padding-top: 200px;
  background: linear-gradient(to bottom, #fef6f3, #fff);
  margin-top: -20vh; }
  .about .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px; }
    .about .section-title h2 {
      text-transform: uppercase;
      font-family: "Cantora One";
      color: #508c70; }
    .about .section-title .line-bottom {
      margin-bottom: 30px; }
    .about .section-title p {
      text-align: center; }
  .about .about-text .row {
    margin-bottom: 15px; }
    .about .about-text .row:last-child {
      margin-bottom: 0; }
      .about .about-text .row:last-child .picture-wrapper.left img {
        border-radius: 50% 50% 50% 0; }
      .about .about-text .row:last-child .picture-wrapper.right img {
        border-radius: 50% 50% 0 50%; }
    .about .about-text .row .picture-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%; }
      .about .about-text .row .picture-wrapper.left {
        justify-content: flex-end; }
        .about .about-text .row .picture-wrapper.left img {
          border-radius: 50% 0% 50% 50%; }
      .about .about-text .row .picture-wrapper.right {
        justify-content: flex-start; }
        .about .about-text .row .picture-wrapper.right img {
          border-radius: 0 50% 50% 50%; }
      .about .about-text .row .picture-wrapper img {
        width: 115px;
        height: 115px; }
  .about .about-text h3 {
    font-family: "Cantora One";
    color: #508c70;
    text-transform: uppercase;
    font-size: 18px; }
  .about .about-text p {
    text-align: justify; }
    .about .about-text p .hashtag {
      font-size: 12px;
      font-weight: 700;
      color: #876c5b;
      text-transform: uppercase; }
    .about .about-text p .bolder {
      font-weight: 600; }

@media only screen and (max-width: 768px) {
  button {
    bottom: 10px; } }

@media only screen and (max-width: 600px) {
  .about .about-text h3 {
    font-size: 22px;
    text-align: center;
    margin: 20px 0; }
  .about .about-text .row .picture-wrapper.left img {
    border-radius: 50% 50% 50% 0%;
    width: 100px;
    height: 100px; }
  .about .about-text .row:last-child .picture-wrapper.right img {
    border-radius: 50% 0% 50% 50%;
    margin-top: 10px;
    width: 100px;
    height: 100px; }
  .add-bull-responsive img {
    width: 100px;
    height: 100px;
    border-radius: 50% 50% 0% 50%;
    margin-top: -100px; }
  .add-bull-responsive-bis img {
    float: right;
    border-radius: 0% 50% 50% 50%;
    width: 100px;
    height: 100px;
    margin-top: -100px; }
  .button-gallery-responsive {
    bottom: -120%;
    right: 50%;
    height: 30px;
    width: 100px;
    font-size: 14px;
    transform: translateX(50px); }
    .button-gallery-responsive:hover {
      transform: translateX(50px) translateY(0px); } }

/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */
.shop {
  clip-path: polygon(0% 0%, 50% 100px, 100% 0%, 100% calc(100% - 100px), 50% 100%, 0% calc(100% - 100px));
  background-color: #eee;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  height: calc(70vh + 2 * 100px);
  position: relative; }
  .shop .shop-black-filter {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .shop #click-to-rotate {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 55px;
    width: 55px;
    border: dashed 2px #fff;
    border-radius: 50%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: sizing 1.5s infinite ease-in-out; }
    .shop #click-to-rotate img {
      padding: 5px;
      height: 45px;
      width: auto; }
  .shop .shop-logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .shop .shop-logo img {
      position: relative;
      width: 90%;
      height: auto;
      margin-top: 20vh; }
    .shop .shop-logo .rotate {
      animation: rotation 150s infinite linear; }

.shop-text-wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  .shop-text-wrapper h2 {
    font-family: "Cantora One";
    color: #508c70;
    text-transform: uppercase;
    text-align: left;
    width: 60%; }
  .shop-text-wrapper .line {
    margin-left: -45%; }
  .shop-text-wrapper p {
    text-align: justify;
    font-size: 15px;
    color: #fef6f3;
    margin: 20px 20% 40px 20%;
    font-weight: 700; }
    .shop-text-wrapper p a,
    .shop-text-wrapper p .green-flash-color {
      text-decoration: none;
      background: #508c70;
      color: #fef6f3;
      padding: 0 3px; }
  .shop-text-wrapper .shop-sizing-carousel {
    position: relative;
    max-height: 190px;
    max-width: 250px; }
    .shop-text-wrapper .shop-sizing-carousel .shop-item {
      position: relative;
      height: 190px;
      width: 250px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 2%; }
      .shop-text-wrapper .shop-sizing-carousel .shop-item::after {
        content: "800€";
        font-weight: 600;
        position: absolute;
        top: -5px;
        left: -10px;
        background: #876c5b;
        color: #fff;
        padding: 0px 7px;
        transform: rotate(-29deg);
        border-radius: 5%; }
      .shop-text-wrapper .shop-sizing-carousel .shop-item::before {
        content: "table à manger";
        text-transform: uppercase;
        font-weight: 600;
        position: absolute;
        bottom: -6px;
        right: -6px;
        background: #508c70;
        color: #fff;
        padding: 0px 7px;
        border-radius: 5%; }
    .shop-text-wrapper .shop-sizing-carousel .owl-nav .owl-prev {
      background: none;
      position: absolute;
      bottom: 40%;
      left: -20%;
      transition: all 100ms ease-in; }
      .shop-text-wrapper .shop-sizing-carousel .owl-nav .owl-prev .fa-angle-left {
        font-size: 30px;
        transition: all 200ms ease-in-out; }
      .shop-text-wrapper .shop-sizing-carousel .owl-nav .owl-prev:hover {
        box-shadow: none;
        transform: translate(0px, 0px); }
        .shop-text-wrapper .shop-sizing-carousel .owl-nav .owl-prev:hover .fa-angle-left {
          color: #508c70;
          transform: translateX(-2px); }
    .shop-text-wrapper .shop-sizing-carousel .owl-nav .owl-next {
      background: none;
      position: absolute;
      bottom: 40%;
      right: -20%;
      transition: all 200ms ease-in; }
      .shop-text-wrapper .shop-sizing-carousel .owl-nav .owl-next .fa-angle-right {
        font-size: 30px;
        transition: all 200ms ease-in-out; }
      .shop-text-wrapper .shop-sizing-carousel .owl-nav .owl-next:hover {
        box-shadow: none;
        transform: translate(0px, 0px); }
        .shop-text-wrapper .shop-sizing-carousel .owl-nav .owl-next:hover .fa-angle-right {
          color: #508c70;
          transform: translateX(2px); }
    .shop-text-wrapper .shop-sizing-carousel .owl-dots {
      display: none !important; }

@media only screen and (max-width: 992px) {
  .shop-text-wrapper h2 {
    text-align: center; }
  .shop-text-wrapper p {
    font-size: 16px; }
  .shop-text-wrapper .line {
    margin: auto; }
  .shop #click-to-rotate {
    display: none; }
  .shop .shop-text-wrapper {
    padding-top: 15vh; } }

@media only screen and (max-width: 414px) {
  .shop-text-wrapper p {
    font-size: 14px;
    margin: 20px 0% 50px 0%; }
  .shop-text-wrapper .shop-sizing-carousel .shop-item {
    height: 160px;
    width: 250px; } }

@media only screen and (max-width: 375px) {
  .shop-text-wrapper h2 {
    margin-top: 20px; }
  .shop-text-wrapper p {
    font-size: 13px;
    margin: 20px 0% 50px 0%; }
  .shop-text-wrapper .shop-sizing-carousel .shop-item {
    height: 140px;
    width: 220px; } }

@media only screen and (max-width: 340px) {
  .shop-text-wrapper h2 {
    font-size: 26px;
    margin-top: 30px; }
  .shop-text-wrapper p {
    font-size: 13px;
    margin: 20px 0% 30px 0%; }
  .shop-text-wrapper .shop-sizing-carousel .shop-item {
    height: 120px;
    width: 220px; } }

/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */
.gallery {
  padding: 50px 0;
  margin-bottom: -25vh;
  background: linear-gradient(to bottom, #fff, #cfcfd1); }
  .gallery .owl-stage,
  .gallery .owl-stage-outer {
    height: 600px; }
  .gallery .owl-stage {
    display: flex;
    align-items: center; }
  .gallery .item-wrapper {
    position: relative;
    overflow: hidden;
    transition: transform 150ms ease-in;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4); }
    .gallery .item-wrapper:hover {
      transform: translateY(-30px);
      box-shadow: 0px 37px 20px -15px rgba(0, 0, 0, 0.2); }
    .gallery .item-wrapper .item {
      position: relative;
      height: 500px;
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      filter: grayscale(0.2);
      transition: transform 5s ease;
      cursor: pointer; }
      .gallery .item-wrapper .item::before {
        content: "";
        position: absolute;
        top: 12px;
        bottom: 12px;
        right: 12px;
        left: 12px;
        border: solid 1px rgba(238, 238, 238, 0.3); }
      .gallery .item-wrapper .item:hover {
        filter: grayscale(0);
        transform: scale(1.1); }
        .gallery .item-wrapper .item:hover::before {
          border: solid 1px rgba(238, 238, 238, 0.6); }
  .gallery .item-menuiserie::after,
  .gallery .item-charpente::after,
  .gallery .item-treehouse::after,
  .gallery .item-cabane::after,
  .gallery .item-table::after,
  .gallery .item-sciage::after,
  .gallery .item-elagage::after {
    font-family: "Cantora One";
    color: rgba(238, 238, 238, 0.7);
    text-transform: uppercase;
    margin: auto;
    font-size: 18px;
    position: fixed;
    top: 30px;
    left: 30px;
    transition: 400ms ease-in; }
  .gallery .item-menuiserie::before,
  .gallery .item-charpente::before,
  .gallery .item-treehouse::before,
  .gallery .item-cabane::before,
  .gallery .item-table::before,
  .gallery .item-sciage::before,
  .gallery .item-elagage::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 32px;
    width: 10%;
    height: 4px;
    z-index: 9999;
    background: rgba(80, 140, 112, 0.3);
    transition: width 400ms ease-in; }
  .gallery .item-menuiserie:hover::after,
  .gallery .item-charpente:hover::after,
  .gallery .item-treehouse:hover::after,
  .gallery .item-cabane:hover::after,
  .gallery .item-table:hover::after,
  .gallery .item-sciage:hover::after,
  .gallery .item-elagage:hover::after {
    color: #eee; }
  .gallery .item-menuiserie:hover::before,
  .gallery .item-charpente:hover::before,
  .gallery .item-treehouse:hover::before,
  .gallery .item-cabane:hover::before,
  .gallery .item-table:hover::before,
  .gallery .item-sciage:hover::before,
  .gallery .item-elagage:hover::before {
    width: 30%;
    background: #508c70; }
  .gallery .item-menuiserie::after {
    content: "menuiserie d'intérieur"; }
  .gallery .item-charpente::after {
    content: "Charpentes et ossatures"; }
  .gallery .item-treehouse::after {
    content: "treehouses"; }
  .gallery .item-cabane::after {
    content: "cabanes et jardins"; }
  .gallery .item-table::after {
    content: "tables"; }
  .gallery .item-sciage::after {
    content: "abattage et sciage"; }
  .gallery .item-elagage::after {
    content: "élagage"; }

@media only screen and (max-width: 768px) {
  .gallery .owl-carousel .item-wrapper {
    height: 400px; }
  .gallery .item-menuiserie::before,
  .gallery .item-charpente::before,
  .gallery .item-treehouse::before,
  .gallery .item-cabane::before,
  .gallery .item-table::before,
  .gallery .item-sciage::before,
  .gallery .item-elagage::before {
    top: 88px; }
  .gallery .item-menuiserie::after,
  .gallery .item-charpente::after,
  .gallery .item-treehouse::after,
  .gallery .item-cabane::after,
  .gallery .item-table::after,
  .gallery .item-sciage::after,
  .gallery .item-elagage::after {
    color: #eeeeee; } }

/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */
.modal {
  z-index: 99999;
  position: fixed; }
  .modal .modal-dialog {
    max-width: 100vw !important;
    position: fixed;
    right: 50px;
    left: 50px;
    width: 53%;
    height: 80%;
    padding: 0; }
  .modal .modal-content {
    background: #fef6f3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 7%;
    left: 0;
    border-radius: 0;
    box-shadow: none; }
  .modal .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    background-color: #876c5b;
    border: none; }
    .modal .modal-header .modal-title {
      font-family: "Oswald";
      font-weight: 600;
      letter-spacing: 2px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      margin-left: 25px; }
    .modal .modal-header .close {
      position: absolute;
      right: 3px;
      bottom: 0;
      color: #fff;
      padding: 10px;
      margin: 0;
      box-shadow: none; }
      .modal .modal-header .close:hover {
        box-shadow: none;
        transform: translate(0px, 0px);
        background-color: #876c5b; }
  .modal .modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100%;
    font-weight: 300;
    overflow: auto; }
  .modal .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
    background: #f1f3f5; }
  .modal .all-items-galery {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%; }
    .modal .all-items-galery .item-galery {
      overflow: hidden;
      width: 33%;
      height: 35%;
      padding: 10px; }
      .modal .all-items-galery .item-galery img {
        transition: 600ms;
        height: 100%;
        width: 100%;
        transition: 100ms ease-in; }
        .modal .all-items-galery .item-galery img:hover {
          transform: scale(1.05); }

.lightboxOverlay,
.lightbox,
.lb-outerContainer,
.lb-container,
.lb-image {
  z-index: 999999; }

@media only screen and (max-width: 768px) {
  .modal .modal-dialog {
    max-width: 100vw !important;
    position: fixed;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    top: 0px;
    margin: 0; }
  .model-content {
    height: 100%; } }

@media only screen and (max-width: 360px) {
  .modal .all-items-galery .item-galery {
    width: 50%;
    height: 30%; }
  .modal .modal-header {
    display: flex;
    align-items: center; }
  .modal .modal-header .modal-title {
    font-size: 14px; }
  .modal .modal-header .close {
    bottom: 5px; }
  .model-content {
    height: 100%; } }

/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */
.contact {
  position: relative;
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background: linear-gradient(to top, 10% rgba 0, 0, 0, 0, 90% rgba(229, 229, 231, 0.3));
  height: 110vh; }
  .contact .main-form-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact .main-form-text .form-text-wrapper h2 {
      font-family: "Cantora One";
      color: #508c70;
      text-transform: uppercase; }
    .contact .main-form-text .form-text-wrapper img {
      padding-top: 30px;
      width: 150px;
      margin-left: 50%;
      transform: translateX(-75px); }
    .contact .main-form-text .form-text-wrapper p {
      margin-top: 50px; }
  .contact .main-form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; }
    .contact .main-form form {
      padding-top: 10vh;
      width: 80%;
      height: 80%; }
      .contact .main-form form .form-group {
        width: 100%; }
        .contact .main-form form .form-group .form-control {
          opacity: 0.8;
          font-size: 12px; }
          .contact .main-form form .form-group .form-control:focus {
            border: 1px outset #eeeeee;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
            opacity: 1; }
      .contact .main-form form label {
        color: #508c70;
        text-transform: uppercase;
        font-family: "Cantora One"; }
      .contact .main-form form .submit {
        font-size: 12px;
        padding: 5px 8px;
        position: relative;
        margin: auto; }
  .contact footer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 100%;
    background: rgba(135, 108, 91, 0.5); }
    .contact footer .made-by {
      position: absolute;
      left: 20px;
      bottom: 9px;
      text-decoration: none; }
      .contact footer .made-by p {
        font-family: "Cantora One";
        font-family: "OpenSans";
        font-weight: 600;
        color: #fff;
        font-style: italic;
        margin: 0;
        opacity: 0.4; }
        .contact footer .made-by p:hover {
          opacity: 0.8; }
    .contact footer .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.85);
      margin: 0 20px;
      cursor: pointer;
      transition: 200ms ease-in; }
      .contact footer .icon-wrapper:hover {
        background-color: white; }
      .contact footer .icon-wrapper .fa-phone,
      .contact footer .icon-wrapper .fa-facebook-f,
      .contact footer .icon-wrapper .fa-instagram {
        color: #508c70;
        align-items: center; }
    .contact footer .tel p {
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      margin: auto auto; }

@media only screen and (max-width: 992px) {
  .contact {
    height: 85vh; }
    .contact::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.35);
      z-index: -1; }
    .contact .main-form-text {
      margin-top: 0vh;
      padding-top: 23vh;
      justify-content: flex-start; }
      .contact .main-form-text .form-text-wrapper h2 {
        text-align: center;
        margin-bottom: 10px; }
      .contact .main-form-text .form-text-wrapper .line {
        margin: auto; }
      .contact .main-form-text .form-text-wrapper p {
        text-align: center;
        margin: 30px 10%;
        font-size: 16px; }
      .contact .main-form-text .form-text-wrapper img {
        padding-top: 20px; }
    .contact .main-form {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center; }
      .contact .main-form form {
        padding-top: 2vh;
        height: 100%; }
        .contact .main-form form label {
          color: #333333; }
        .contact .main-form form label.radio-inline {
          color: white !important; }
        .contact .main-form form .submit {
          margin-top: 50px; }
  .to-email {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%; }
    .to-email a {
      text-align: center;
      text-decoration: none;
      color: #508c70;
      font-weight: 700; } }

@media only screen and (max-width: 414px) {
  .contact .main-form-text {
    padding-top: 13vh; }
  .contact .main-form-text .form-text-wrapper p {
    margin: 30px 0%;
    font-size: 14px; }
  .annu-margin {
    margin: 0; } }

.contact footer .icon-wrapper {
  height: 25px;
  width: 25px;
  margin: 0px 10px; }

@media only screen and (max-width: 375px) {
  .contact .main-form-text .form-text-wrapper p {
    margin: 20px 0%;
    font-size: 13px; }
  .contact .main-form-text {
    padding-top: 10vh; } }

/***
.......Main colors
***/
/***
.......Main styles
***/
body {
  background-color: #fff;
  font-size: 14px;
  overflow-x: hidden; }

header {
  position: relative; }

main {
  z-index: 2000;
  position: relative; }

p {
  color: #333333;
  font-weight: 400;
  font-family: "Roboto"; }

button {
  border: 0;
  outline: 0;
  margin: 0; }

/***
********** Animations
***/
@keyframes cursor {
  0% {
    top: 10px; }
  70% {
    top: 26px; }
  100% {
    top: 10px; } }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@keyframes sizing {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
