/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */
/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 400ms; }

@keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: "normal";
  src: url("../font/Open_Sans/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: "normal";
  src: url("../font/Roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: "Oswald";
  font-weight: 700;
  font-style: "normal";
  src: url("../font/Oswald/Oswald-Bold.ttf"); }

@font-face {
  font-family: "Oswald";
  font-weight: 300;
  font-style: "normal";
  src: url("../font/Oswald/Oswald-Light.ttf"); }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../font/fontawesome/fa-brands-400.eot");
  src: url("../font/fontawesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../font/fontawesome/fa-brands-400.woff2") format("woff2"), url("../font/fontawesome/fa-brands-400.woff") format("woff"), url("../font/fontawesome/fa-brands-400.ttf") format("truetype"), url("../font/fontawesome/fa-brands-400.svg#fontawesome") format("svg"); }

/* Menuiserie Rob'in Wood
 *
 * 
 * coded by Augustin Dumont
 * http://augustindumont.be
 * 2019
 */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(110vh + 100px + 25px);
  width: 100%;
  background-image: url("../images/background-header.jpg");
  background-size: 120% auto;
  background-position-y: 50%;
  background-position-x: 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background 0.15s ease-in-out;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 100px), 50% 100%, 0% calc(100% - 100px)); }
  .header .header-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; }
    .header .header-wrapper .header-logo {
      text-align: center;
      z-index: 1; }
      .header .header-wrapper .header-logo img {
        height: 170px; }
    .header .header-wrapper .header-subtitle h1 {
      font-family: "Oswald";
      font-weight: 700;
      color: #fff;
      text-align: center;
      font-size: 35px; }
    .header .header-wrapper .header-subtitle h2 {
      font-size: 25px;
      font-weight: 700;
      font-family: "Oswald";
      color: #fff;
      font-style: italic; }
    .header .header-wrapper .header-icons {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .header .header-wrapper .header-icons .icon-wrapper {
        box-shadow: -1px 1px 5px rgba(17, 17, 17, 0.1);
        color: #111;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        margin: 0 5px;
        transition: background 0.5s ease, color 0.5s ease; }
        .header .header-wrapper .header-icons .icon-wrapper:hover {
          background-color: white;
          color: #508c70; }
        .header .header-wrapper .header-icons .icon-wrapper:last-child i {
          font-size: 16px; }
      .header .header-wrapper .header-icons i {
        font-size: 14px; }
    .header .header-wrapper .scroll-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 25px; }
      .header .header-wrapper .scroll-btn .mouse {
        cursor: pointer;
        height: 46px;
        width: 26px;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.25);
        transition: border 0.5s ease, opacity 0.5s ease;
        position: relative;
        opacity: 1; }
        .header .header-wrapper .scroll-btn .mouse:hover {
          border-color: white; }
          .header .header-wrapper .scroll-btn .mouse:hover .cursor {
            background-color: white; }
        .header .header-wrapper .scroll-btn .mouse.hide {
          opacity: 0; }
        .header .header-wrapper .scroll-btn .mouse .cursor {
          animation: cursor 3s ease-in-out infinite;
          height: 8px;
          width: 3px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.25);
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          margin: 0 auto;
          transition: background 0.5s ease; }

.about {
  clip-path: polygon(0% 0%, 50% 100px, 100% 0%, 100% calc(100% - 100px), 50% 100%, 0% calc(100% - 100px));
  position: relative;
  padding-bottom: 125px;
  padding-top: 200px;
  background: linear-gradient(to bottom, #fef6f3, #fff);
  margin-top: -20vh; }
  .about .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px; }
    .about .section-title h2 {
      color: #333333;
      margin-bottom: 30px; }
    .about .section-title p {
      text-align: center; }
  .about .about-text .row {
    margin-bottom: 15px; }
    .about .about-text .row:last-child {
      margin-bottom: 0; }
      .about .about-text .row:last-child .picture-wrapper.left img {
        border-radius: 50% 50% 50% 0; }
      .about .about-text .row:last-child .picture-wrapper.right img {
        border-radius: 50% 50% 0 50%; }
    .about .about-text .row .picture-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%; }
      .about .about-text .row .picture-wrapper.left {
        justify-content: flex-end; }
        .about .about-text .row .picture-wrapper.left img {
          border-radius: 50% 0% 50% 50%; }
      .about .about-text .row .picture-wrapper.right {
        justify-content: flex-start; }
        .about .about-text .row .picture-wrapper.right img {
          border-radius: 0 50% 50% 50%; }
      .about .about-text .row .picture-wrapper img {
        width: 115px;
        height: 115px; }
  .about .about-text h3 {
    color: #508c70;
    text-transform: uppercase;
    font-size: 18px; }
  .about .about-text p {
    text-align: justify; }
    .about .about-text p .hashtag {
      font-size: 12px;
      font-weight: 700;
      color: #876c5b;
      text-transform: uppercase; }
    .about .about-text p .bolder {
      font-weight: 600; }
  .about button {
    margin: auto;
    background-color: #508c70;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    padding: 7px 10px;
    border-radius: 2px;
    box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.25);
    display: block;
    transition: box-shadow 0.25s ease, transform 0.25s ease, background 0.25s ease;
    margin-top: 10px;
    font-weight: 600; }
    .about button:hover {
      background-color: #477c63;
      box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.5);
      transform: translate(2px, -2px); }

.shop {
  clip-path: polygon(0% 0%, 50% 100px, 100% 0%, 100% calc(100% - 100px), 50% 100%, 0% calc(100% - 100px));
  background-color: #eee;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  height: calc(70vh + 2 * 100px);
  position: relative; }
  .shop .shop-black-filter {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .shop .shop-black-filter .shop-logo {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .shop .shop-black-filter .shop-logo img {
        width: 55%;
        height: auto;
        margin-top: 20vh;
        animation: rotation 150s infinite linear; }

.gallery {
  padding-top: 75px;
  margin-bottom: 50vh; }
  .gallery .item-wrapper {
    overflow: hidden; }
    .gallery .item-wrapper .item {
      position: relative;
      height: 500px;
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      filter: grayscale(0.2);
      transition: transform 5s ease; }
      .gallery .item-wrapper .item::after {
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
        border: solid 1px grey; }
      .gallery .item-wrapper .item:hover {
        filter: grayscale(0);
        transform: scale(1.1); }

.modal {
  z-index: 99999;
  position: fixed; }
  .modal .modal-dialog {
    max-width: 100vw !important;
    position: fixed;
    right: 50px;
    left: 50px;
    width: 80%;
    height: 80%;
    padding: 0; }
  .modal .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none; }
  .modal .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    background: #508c70;
    border: 0; }
  .modal .modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100%;
    font-weight: 300;
    overflow: auto; }
  .modal .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
    background: #f1f3f5; }
  .modal .all-items-galery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; }
    .modal .all-items-galery .item-galery {
      overflow: hidden;
      width: 185px;
      height: 144px;
      padding: 10px; }
      .modal .all-items-galery .item-galery img {
        transition: 600ms;
        height: 100%;
        width: 100%; }
        .modal .all-items-galery .item-galery img:hover {
          transform: scale(1.1); }

.lightboxOverlay,
.lightbox,
.lb-outerContainer,
.lb-container,
.lb-image {
  z-index: 999999; }

/***
********** Animations
***/
@keyframes cursor {
  0% {
    top: 10px; }
  70% {
    top: 26px; }
  100% {
    top: 10px; } }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

/***
.......Navbar
***/
#fp-nav {
  margin-top: 0px !important;
  right: 36px !important;
  top: 50% !important;
  margin-top: -53px !important;
  z-index: 9999 !important; }
  #fp-nav span {
    background: #508c70 !important; }

/***
.......Main styles
***/
body {
  background-color: #fff;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  overflow-x: hidden; }

header {
  position: relative; }

main {
  z-index: 2000;
  position: relative; }

p {
  color: #333333;
  font-weight: 400;
  font-family: "Roboto"; }

button {
  border: 0;
  outline: 0;
  margin: 0; }

/***
.......Main classes
***/
.section-border {
  padding: 100px;
  position: relative;
  height: 100%;
  width: 100%; }
  .section-border::after {
    background: #fff;
    border: 1px solid #eee;
    content: "";
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px; }
  .section-border .line {
    height: 4px;
    width: 25px;
    background-color: #508c70;
    border-radius: 4px;
    margin-bottom: 25px;
    opacity: 0.75; }
  .section-border > .container-fluid {
    height: 100%;
    position: relative;
    z-index: 1; }
    .section-border > .container-fluid > .row {
      height: 100%; }
